In [1]:
#Arithmetic Operators - +,-,*,/,//,%
#Relational - >,<,<=,>=,!=,==
#Logical - and,or,not
#Bitwise - &,|,~,^,>>,<<
#Assignment - =,+=,-=,*=,/=,//=,%=,&=,~=,^=,|=,<<=,>>=

In [2]:
#SPECIAL OPERATOR
# 1.IDENTITY OPERATAR - is and is not
# TWO CHECK IF TWO VALUES ARE AT SAME MEMORY LOCATION

In [3]:
a1=3
b1=3
print(a1 is b1)

True

In [4]:
a1 is not b1

False

In [5]:
a2 = 'shivangi'
b2 = 'shivangi'

In [6]:
a2 is b2

True

In [7]:
a3 = [1,2,3]
b3 = [1,2,3]

In [8]:
a3 is b3 #False coz list are mutable

False

In [9]:
# 2.MEMBERSHIP OPERATOR - in and not in
#to test if the value or variable is in the sequence

In [10]:
x = "shivangi"

In [11]:
'a' in x

True

In [12]:
'q' in x

False

In [13]:
# "Logical not or !” is meant for boolean values and “bitwise not or ~” is for integers.

In [14]:
#Ternary Operator
a,b=10,20
min = a if a<b else b
print(min)

10

In [15]:
print((b,a)[a<b]) #with tuple

10

In [16]:
print({True:a,False:b}[a<b])

10

In [17]:
#Operator Overloading-change functionality of the operators magic methods

In [18]:
class A:
    def __init__(self,a):
        self.a=a
    
    #adding two objects
    def __add__(self,o):
        return self.a+o.a
    
ob1 = A(1)
ob2 = A(2)
ob3 = A("shivangi")
ob4 = A("sharma")

print(ob1+ob2)
print(ob3+ob4)

3
shivangisharma

In [19]:
#Bitwise Not ~ #return compliment of the number
a= True #returns bitwise inverse of 1
print(~a)

b=False
print(~b)

-2
-1

In [20]:
#Any and All in Python

In [21]:
# "any" returns True if any of the items is True.

print(any([False,False,False])) #since all are false
print(any([False,True,False])) #short-circuit at second item as True
print(any([True,False,False])) #short-circuit at first item

False
True
True

In [22]:
# "all" - returns True if all items are True

print(all([True,True,True])) #returns True as all are True
print(all([False,True,True])) #short-circuit at first item as False

True
False

In [23]:
#Inplace Opeartors (iadd(),isub(),iconcat(),imul(),itruediv(),imod(),ixor(),iand(),ipow(),ilshift(),irshift()) - to perform inplace operations using "operator" module
# x+=y is equivalent to x=operator.iadd(x,y)

In [24]:
import operator

x=operator.iadd(2,3)
print(x)

5

In [25]:
# In immutable targets , inplace operators behave same as normal operators
# in mutable targers, the updation and assignment both are carried out.

In [26]:
#OPERATOR FUNCTIONS - add,sub,mul,truediv,floordiv,pow,mod,lt,gt,le,ge,eq,ne
# setitem(ob,pos,val),delitem(ob,pos),getitem(ob,pos),setitem(ob,slice(a,b),vals),delitem(ob,slice(a,b)),getitem(ob,sloce(a,b))
# concat(ob1,ob2),contains(ob1,ob2),and_(a,b),or_(a,b),xor(a,b),invert(a)-bitwise operations

In [27]:
# a+=b is not always a=a+b

In [28]:
l1 = [5,4,3,2,1]
l2 = l1
l1+=[1,2,3,4,5] #modifies the list in place - it extendes the old list only

print(l1)
print(l2)

[5, 4, 3, 2, 1, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 1, 2, 3, 4, 5]

In [29]:
l1 = [5,4,3,2,1]
l2 = l1
l1=l1+[1,2,3,4,5] #creates new referance of l1


print(l1)
print(l2)

[5, 4, 3, 2, 1, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [30]:
# == operator compares the values of both operands and the checks for equality

l1=[1,2,3]
l2=[1,2,3]

In [31]:
l1==l2

True

In [32]:
# "is" operator checks if operands belong to the same object or not.

print(l1 is l2)

print(id(l1),id(l2)) #different id-different objects

False
85391816 85391944

In [33]:
l2=l1

In [34]:
l1 is l2

True

In [35]:
print(id(l1),id(l2)) #same id

85391816 85391816