In [1]:
#strings are array of bytes representing Unicode characters. Python does not have character datatype, a single charachters simply  a string of length !.
#square brackets can be used to access alements of string.

In [2]:
string1 = "Hello world"
print(type(string1))
print(string1)

<class 'str'>
Hello world

In [5]:
#indexing
s="shivangi"
print(s[0]) #first charachter
print(s[-1]) #last
print(s[2:5]) #slicing
print(s[2:-2]) #slicing from 2nd and 2nd last character

s
i
iva
ivan

In [6]:
#Strings are IMMUTABLE. So no updatation or deletion of characters is possible.

In [8]:
s="Shivangi Sharma"
print(s)

Shivangi Sharma

In [9]:
#updation
s[0]="B" # Error will occur. 
print(s)

TypeError: 'str' object does not support item assignment

In [16]:
# updatation of entire string is possible
s="Shivangi"
print(s)

Shivangi

In [17]:
#deletion of entire string is possible using del keyword

del s
print("String deleted")

String deleted

In [19]:
#formatting
s="{} {} {}".format('English','Maths','Science')
print(s)

English Maths Science

In [21]:
s="{0:b}".format(14)
print("Binary rep. of 14: ",s)

Binary rep. of 14:  1110

In [22]:
#formatting floats
s="{0:e}".format(185.4532)
print(s)

1.854532e+02

In [23]:
#rounf off integers
s="{0:.2f}".format(1/6)
print(s)

0.17

In [24]:
s="Shivangi"
s=s+"Sharma"
print(s)

ShivangiSharma

In [25]:
#id() function
s1="hello"
s2="hello"
print(id(s1))
print(id(s2))
#same id as both point to same object

85916272
85916272

In [26]:
#printing with double qoutes
print("Hi, \"Welcome\"")

Hi, "Welcome"

In [27]:
#extented slicing
s="Shivangi Sharma"
print(s[2:20:2]) #start:end:step

iag hra

In [28]:
#extented slicing
s="Shivangi Sharma"
print(s[-5:-3]) #start:end:step

ha

In [29]:
#reverse
print(s[::-1])

amrahS ignavihS

In [30]:
s="Shivangi"
print(s[-1:-5:-1])

igna

In [40]:
s="shivangi"

In [41]:
 #to find position of FIRST OCCURRENCE of substring
print(s.find("v"))

3

In [42]:
 #returns -1 if not found
print(s.find("r"))

-1

In [43]:
#find LAST OCCURENCE
print(s.rfind("n"))

5

In [44]:
#return True if string begins with mentioned  prefix
print(s.startswith("s"))

True

In [45]:
print(s.endswith('i'))

True

In [46]:
#returns True if string is in lowercase
print(s.islower())

True

In [47]:
print(s.isupper())

False

In [48]:
#returns new string with UPPERCASE
print(s.upper())

SHIVANGI

In [49]:
#returns new string with lowercase
print(s.lower())

shivangi

In [50]:
#new list with cases swapped
s = "Shivangi Sharma"
print(s.swapcase())

sHIVANGI sHARMA

In [51]:
 #uppercase first character of every word
s = "Shivangi Sharma"
print(s.title())

Shivangi Sharma

In [52]:
 #length of string
print(len(s))

15

In [53]:
#returns occurrence of substring
print(s.count("a"))

3

In [54]:
#surroundding string in center
print(s.center(30,'-'))

-------Shivangi Sharma--------

In [55]:
 #returns True if charachters are combination of numbes and/or alphabets
s="shivangi24X7"
print(s.isalnum())

True

In [57]:
 #True if string has all alphabets
s = "shivangi"
print(s.isalpha())

True

In [58]:
s="  "
print(s.isspace()) #true if all characters are spaces

True

In [59]:
#join() function-to join sequences of strings mentioned in argument.

s1="-"
s2=("shivangi","sharma",'now')
print(s1.join(s2))

shivangi-sharma-now

In [60]:
s="--shivangi--"
print(s.strip("-"))
#to delete all leading and trailing characters mentioned in argument

shivangi

In [61]:
print(s.lstrip("-"))

shivangi--

In [62]:
print(s.rstrip("-"))

--shivangi

In [63]:
s = "shivangi"
print(min(s)) #minimum value alphabet from string
print(max(s)) #maximum value alphabet from string

a
v

In [64]:
s='shivangi'
s1='sv'
s2='ba'
mapped=s.maketrans(s1,s2) #map the contents of s1 with s2 with respective indices
print(s.translate(mapped)) #transalte the string

bhiaangi

In [65]:
print(s) #why?? coz strings are immutable!

shivangi

In [66]:
s="ball isgame for game"
s1="game"
s2="win"
print(s.replace(s1,s2)) #replace substring with new substring

ball iswin for win