In [1]:
#Tuples are like list except that TUPLES ARE IMMUTABLE
#tuples are hashables while list are not
#tuple cannot be created with single element, it can be but its tricky!

In [2]:
#emplty tuple
tup = () 
print(tup)
print(type(tup))

()
<class 'tuple'>

In [3]:
t = ('maths','english','science')
print(t)

('maths', 'english', 'science')

In [5]:
#tuple from list
l = [10,20,30,40]
print(tuple(l))

(10, 20, 30, 40)

In [7]:
#tuple using loop
t = ('good')
for i in range(1,4):
    t = (t,)
print(t)

((('good',),),)

In [8]:
#built-in function
t = tuple("Shiva") 
print(t )

('S', 'h', 'i', 'v', 'a')

In [9]:
#nested tuple
t1 = (1,2)
t2 = (3,4)
t3 = (t1,t2) 
print(t3)

((1, 2), (3, 4))

In [10]:
#concatenation
t3 = t1+t2 
print(t3)

(1, 2, 3, 4)

In [11]:
#slicing
t3[0:2]

(1, 2)

In [12]:
#deleting
del t3